
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
body {
  background: #f6f6f6;
}
* a {
  text-decoration: none;
  color: #151515;
}
.pinterest {
  
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.938rem;  
  z-index: 1000; 
}
.left {
  display: flex;
  align-items: center;
  width: 20%;  
  
}
.left .logo {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .logo:hover {
  background-color: #e5e5e5;
}
.left .logo i {
  color: #e60022;
  font-size: 30px;
}
.left .home {
  font-weight: bold;
  height: 3rem;
  color: #151515;
  padding: 1rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-right: 3px;
  
}
.home:focus {
  background-color: #151515;
  color: #e5e5e5;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar .img {
  height: 2rem;
  width: 2rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.avatar .img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.search {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 40px;
  overflow: hidden;
  background-color: #33333317;
  
}
.search:hover {
  background: #dcdcdc;
}
.search i {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #767676;
  
}
.search input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  padding-right: 1rem;
}
.search input::placeholder {
  color: #767676;
  font-size: 1rem;
}
.right {
  width: 20%;
  display: flex;
  align-items: center;
}
.items {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items:hover {
  background: #e5e5e5;
}
.items i {
  font-size: 1rem;
  color: #767676;
}
.items-down {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}
.items-down:hover {
  background: #e5e5e5;
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px;
  justify-content: center;
  margin: 10px auto;
}

.grid-item{
  width: 230px;
  margin-bottom: 40px;
  border-radius: 15px;
  cursor: zoom-in;
  background-color: lightgray;
}

.grid-item:hover {
  filter: opacity(0.9);
}